@import "tailwindcss";
@import "./styles/colors.css";


.bg-login-gradient {
    background: linear-gradient(180deg, var(--color-dark) 17.75%, var(--color-dark) 29.88%, #381F3A 81.26%, #5E1E63 104.17%);
}

.space{
    letter-spacing: 32px;
    font-weight: 100;
    font-size: 24px;
    font-family: var(--font-family-poiret);
}